
/*.navbar {
    background-color: rgba(191, 178, 151, 0);
   }*/


body {
	background-image: url("../images/header.png");
	background-size: 100% 75%;
	background-repeat: no-repeat;
	padding: 0px;/*height: 400px;*/
	  position: relative;
}

.nav li a { color: #FFF; 

/*text-align:right;*/}


.nav li a:hover { background-color: #fbc92c; }

menue >.navbar-header,.navbar-collapse{
	border:none;}
/*.nav >ul> li{width:40px;}*/

.fa { /* font-size: 16px;*/
color: #fbc92c; }

.thumbnail .fa {
	font-size: 40px;
	color: #fbc92c;
}

.wrapper {
	display: grid;
	/* grid-gap: 1em;*/
	grid-template-columns: 30% 70% ;
	grid-template-rows: 65px 205px auto;
	/*	grid-template-columns: 100%;
	grid-template-rows: 30%;*/
	grid-template-areas: "logo menue"  "mid  "  "btns "  " cont1"  "portfolio"  "about" "social" ;/* "sidebar  sidebar" 
	 "sidebar2 sidebar2" 	
	  	
	 "content  content2" 
	 "footer   content2";*/
	
}

.logo {
	grid-area: logo;
	padding-top: 27px;
	padding-left: 50px;
	grid-column: 1/2;
	grid-row: 1/2;
	color: #FFF;
}

.menue {
	grid-area: menue;
	padding-top: 10px;
	
	/*justify-self: center;*/
	grid-column: 2/3;
	grid-row: 1/2;
	color: #FFF;
}
.menue ul li a{
	text-align:right;		
/*width:100px;*/
}
.mid {
	grid-area: mid;
	padding-top: 50px;
	padding-left: 50px;
	/*justify-self: center;*/
	grid-column: 2/3;
	grid-row: 2/4;
	color: #FFF;
}

.mid p {
	padding-left: 10px;
	font-weight: 100;
	font-size: 11px;
	line-height: 22px;
}

.btns {
	grid-area: btns;
	padding-left: 150px;
	/*justify-self: center;*/
	grid-column: 2/3;
}

.cont1 {
	grid-column: 1/4;
	grid-row: 10/11;
	display: grid;
	grid-gap: 1em;
	background-color: #052d39;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	/*grid-template-rows:50px auto;*/
	grid-template-areas: "thumb3 thumb2 thumb1 thumb4 ";
}

.cont2 {
	padding-top: 70px;
	grid-column: 1/4;
	grid-row: 11;
	background-color: #052d39;
	margin-top: 40px;
	color: #58757b;
}

.feat {
	grid-area: feat;
	text-align: center;
}

.thumb1 {
	text-align: center;
	grid-area: thumb1;
}

.thumb2 {
	text-align: center;
	grid-area: thumb2;
}

.thumb3 {
	text-align: center;
	grid-area: thumb3;
}

.thumb4 {
	text-align: center;
	grid-area: thumb4;
}

.portfolio {
	padding-top: 70px;
	grid-column: 1/4;
	grid-row: 12;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "port port port"  "thumb11 thumb22 thumb33 "  "thumb44 thumb55 thumb66 ";
	background-color: #f2c40f;
	color: #000;
	text-align: center;/*margin-top:-40px;*/
}

.port {
	grid-area: port;
	text-align: center;
}

.thumb11 {
	text-align: center;
	grid-area: thumb11;
	display: none;
}

.thumb22 {
	display: none;
	grid-area: thumb22;
}

.thumb33 {
	display: none;
	grid-area: thumb33;
}

.thumb44 {
	display: none;
	grid-area: thumb44;
}

.thumb55 {
	display: none;
	grid-area: thumb55;
}

.thumb66 {
	display: none;
	grid-area: thumb66;
}

.cont1>.thumbnail {
	background-color: #052d39;
	border: none;
	color: #58757b;
	display: none;
}

.portfolio>.thumbnail {
	background-color: transparent;
	border: none;
	color: #58757b;
/*display:none;*/}

.cont1>.thumbnail .caption { color: #58757b; }

.logo>.fa>.fa-flag {
	font-size: 16px;
	color: #fbc92c;
}

.about {
	grid-column: 1/4;
	grid-row: 13;
	display: grid;
	grid-gap: 1em;
	background-color: #052d39;
	grid-template-columns: 100%;
	/*grid-template-rows:50px auto;*/
	grid-template-areas: "about2 "  "comp";
	color: #58757b;
	justify-items: center;
}

.about2 {
	grid-area: about2;
	text-align: center;
}

.comp {
	grid-area: comp;
	align-self: center;
}

.clint {
	grid-column: 1/4;
	grid-row: 16;
	background-color: #052d39;
	color: #58757b;
}

.carousel-caption { color: inherit; }

.carousel-indicators .active { background-color: #f2c40f; }

.contact {
	grid-column: 1/4;
	grid-row: 19;
	display: grid;
	grid-gap: 1em;
	background-color: #f2c40f;
	grid-template-columns: 100%;
	/*grid-template-rows:50px auto;*/
	grid-template-areas: "contact2 "  "message";
	color: #174248;
	/* justify-items: center;*/
}

.contact2 {
	color: #174248;
	grid-area: contact2;
	text-align: center;
}

.message {
	color: #174248;
	grid-area: message;
	
}



.foot{
	grid-area:social;
	background-color:#000;
	grid-column: 1/4;
	grid-row: 20/22;
	padding-top:5px;
	/*align-content:center;*/
	
	}

.foot a{
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 16px;
    margin-bottom: 10px;
    padding-top: 7px;
    background: #232121;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-size: 32px;
    color: #ddd;
    line-height: 40px;
    text-align: center;
	
	}

	
	.navbar-toggle .icon-bar{background-color: #f2c40f;}
 @media only screen and (max-width : 767px) and (min-width : 250px) {

body { background-size: 100% 28%;/*height: 400px;*/
}

.wrapper {
	/* grid-template-columns: 60%;
	grid-template-rows:150px 400px auto;*/
	grid-template-columns: 20% 70% 10%;
	grid-template-rows: 235px 105px auto;
	grid-template-areas: "logo menue"  "mid  "  "btns "  "cont1" "portfolio" "message";
}
.menue {
  
   
    grid-column: 2/4;}
	
	
.mid { padding-top: 5px;	grid-column: 2/5;
	/*grid-row: 3;*/
padding-left: 5px;
    justify-self: center;
}

.btns { 	/*grid-column: 3/5;*/
	grid-row: 4/5;
	padding-left: 70px;
	    justify-self:startssssss;
}

.cont1 {
	grid-template-columns: 100%;
	grid-template-rows: auto;
	grid-template-areas: "thumb3 "  "thumb2 "  "thumb1 "  "thumb4 ";
}

.portfolio {
	grid-template-columns: 50% 50%;
	grid-template-rows: auto;
	grid-template-areas: "port port"  "thumb11 thumb22"  "thumb33 thumb44 "  "thumb55 thumb66";
}
.message {
	

  }
/*.nam {
	grid-area: nam;
	grid-column: 1/3;
	grid-row: 1;
	padding-left:10px;
}

.mail {
	grid-area: mes;
	grid-column: 1/3;
	grid-row: 2;
	margin-left:10px;
}

.mes {
	grid-area: mail;
	grid-column: 1/3;
	grid-row: 3;

}*/
/*textarea {
	
	width:80%;}
	input{
	
	width:80%;}*/
.mid p {
	line-height: 18px;
	font-size: 16px;
	font-weight: 100;
	width: 85%;
}

.thumb1 { }

.thumb2 { }

.thumb3 { }

.thumb4 { }

.thumb5 { }

.thumb6 { }

.logo>.fa>.fa-flag {
	font-size: 16px;
	color: #fbc92c;
}

.thumbnail .fa {
	font-size: 100px;
	color: #fbc92c;
}

/*#navbar1{
	
	background-color:#333;}*/
}
